page-home {

  div {
    margin: auto;
    text-align: center;
  }

  .vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }

}
